<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="emp.js"></script>
    <link href="test1.css" rel="stylesheet">
    <!-- CSS only -->
    <!-- Bootstrap core CSS 
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   
</head>
<body ng-controller="myCtrl">
    <div class="logo">
        <img src="BUS7.png" alt="HTML" width="185px" height="150px">
    </div>
    <div ng-controller="myCtrl">
        Row to Display:<input type="number" step="1" min="0" max="6" ng-model="rowlimit" placeholder="Number of rows to be displayed"/><br><br>
        Enter   Name :<input type="text" placeholder="Search Customer" ng-model="search"><br><br>
        Enter   Number:<input type="text" placeholder="Search CustomerId" ng-model="limit"/><br><br>
<table cellpadding="2" cellspacing="2" borders="1">
    <tr>
        <th scope="col" ng-click="orderByMe('Cid')">CustomerId
            <br>
            <input type="text" ng-model="search.Cid" >
        </th>
        <th scope="col" ng-click="orderByMe('fname')">Fname
            <br>
            <input type="text" ng-model="search.fname">
        </th>
        <th scope="col" ng-click="orderByMe('lname')">Lname
            <br>
            <input type="text" ng-model="search.lname">
        </th>
        <th scope="col" ng-click="orderByMe('gender')">Gender
            <br>
            <input type="text" ng-model="search.gender">
        </th>
        <th scope="col" ng-click="orderByMe('phone')" >Phone
            <br>
            <input type="text" ng-model="search.phone">
        </th>
    </tr>
   
    <tbody>
        <tr ng-repeat="item in names| limitTo:rowlimit |filter:search| orderBy:myOrderBy ">
            <td scope="row">{{item.Cid| myfilterid:limit}}</td>
            <td>{{item.fname| myfilter:search}}</td>
            <td>{{item.lname|uppercase}}</td>
            <td>{{item.gender|lowercase}}</td>
            <td>{{item.phone}}</td>
           

        </tr>
    </tbody>
</table>

    </div>
    
</body>
</html>